NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYSTACK_SECRET_KEY=sk_test_xxxxx
RESEND_API_KEY=re_xxxxx
EMAIL_FROM="Cudi Cometics <onboarding@resend.dev>"
CRON_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
